:root {
	--font-family: 'HelveticaNeue-Regular', 'Helvetica Neue Regular',
		'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	--font-weight: 400;
	--font-size: 14px;
	--font-size-xl: 24px;

	--primary: #3f3f3f;
	--light: #fff;
	--dark: #111;
	--neutral-01: #e8e8e8;
	--neutral-02: #cacaca;
	--neutral-03: #8c8c8c;
	--neutral-04: #3f3f3f;

	--plyr-color-main: var(--primary);
	--plyr-badge-background: var(--dark);
	--plyr-badge-border-radius: 0px;
	--plyr-audio-progress-buffered-background: var(--neutral-02);
	--plyr-audio-range-track-background: var(--neutral-01);
	--plyr-font-family: var(--font-family);
	--plyr-audio-control-color: var(--dark);
}

html {
	font-family: var(--font-family);
	font-size: var(--font-size);
	font-weight: var(--font-weight);
	color: var(--dark);
}

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	padding: 20px 24px;
}
